@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/vs8tYp8.jpg)');
    $("#image-text").text("Oh No!");
    $(window).scroll(function () {
        $(".hero-image").children().css("opacity", 1 - $(window).scrollTop() / 250);
    });
    function goBack() {
    event.preventDefault();
  window.history.back();
}</script>
}

<h1 class="text-danger">Something has gone wrong!</h1>
<p class="text-danger">Fear not - here is a very attractive page written in your favourite font, to help you to get to the right page and fast. You can either
    <a href="#" onclick="goBack()" >go back</a> to where you were or head to our <a class="four-zero-four-link" href="/">home page.</a></p>

<!--@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}--> 
