@model IdeasTracker.Models.CreateIdeaModel

@{
    ViewData["Title"] = "Create";
}
 
<div class="row">

@section scripts{
<script>$('#image').css('background-image', 'url(https://i.imgur.com/APzkiMi.jpg)');
    $("#image-text").text("Submit your awesome idea!");
    $(window).scroll(function () {
        $(".hero-image").children().css("opacity", 1 - $(window).scrollTop() / 250);
    });</script>
}

<div id="create" class="row">
   
    <div class="col-md-12">
        <h1>Create</h1> 
        <h1>Build week project submission.</h1>
    </div>


    <div class="col-md-7 mx-auto"> 
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerProblem" class="control-label"></label>
                <input asp-for="CustomerProblem" class="form-control" />
                <span asp-validation-for="CustomerProblem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemDescription" class="control-label"></label>
                <textarea asp-for="ProblemDescription" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="ProblemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn AND-button"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>

