@model IdeasTracker.Models.UserModel

@{
    ViewData["Title"] = "Edit Role";
}

<h1>Assign Role</h1>
 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label><br />
                <select asp-validation-for="Role" asp-for="Role" id="Role">
                    <option value="Club Tenzing">Club Tenzing</option>
                    <option value="Product Owner">Product Owner</option>
                    <option value="ANDi">ANDi</option> 
                </select> 
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input type="submit" value="Save" class="btn AND-button mb-1" />

            </div>
        </form>
    </div>
</div>

<div class="col-lg-12" id="editButtons"> 
        <a asp-action="Index" class="btn AND-button"><i class="fas fa-arrow-left"></i> Back to List</a>
    </div>

