/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*Fonts**/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/*End of fonts*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

p, h1, h2, h3, h4 {
   font-family: 'Poppins', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #323232;
  line-height: 90px; /* Vertically center the text there */
}

.footer p {
    color: #fff;
    text-align: center;
}
 
/* Navbar Styling
-------------------------------------------------- */

.navbar-nav li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media (max-width: 600px) {
    .navbar {
        padding: 1em !important;
    }
    .navbar .nav-link {
        border-top: 0em !important;
    }

    .navbar .nav-link:hover {
        border-top: 0em !important;
    }
}

.navbar {
    padding: 0em;
}

.navbar-brand img {
    height: 2.5em;
}

.navbar .nav-link {
    border-top: 0.35em solid #fff;
}

    .navbar .nav-link:hover {
        border-top: 0.35em solid #ff323b;
        color: #ff323b !important;
    }

a.login {
    background: #fe323d;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    color: #fff;
}

a.login:hover {
    background: #d00f18;
   text-decoration: none;
}

img.big-image-logo {
    height: 9em;
}

.hero-image {
    text-align: center;
    padding: 8em 0em 6em 0em;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0000006b;
    margin-left: -15px;
    margin-right: -15px;
}

#image {
    background-size: cover;
    margin-bottom: 1em;
    background-attachment: fixed;
    background-position-y: 61%;
}

#image h1 {
    font-size: 42px;
    padding-top: 0.5em;
    color: #fff;
}

/* On clicking project */

.text-display {
    background: #f2f2f2;
    padding: 1em 1em;
    border: 1px solid #f3f3f3;
    width: 32em;
}

.product-info p {
    font-size: 12px;
    margin-bottom: 0px;
    color: darkgray;
    padding: 0em 0em 0em 0em;
    margin-top: 1em;
}
.buttons {
    margin-bottom: 1em;
}

.product-info {
    margin-left: -15px;
    margin-top: 2em;
} /*fix*/
#create h1 {
    margin-left: 15px;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

.product-info span {
       color: gray;
}

     h1 {
        margin-left: 15px;
        text-align: center;
        margin-bottom: 0.75em;
    }

/***/

@media (min-width: 768px){
    .navbar-brand img {
        margin-right: -13em;
    }
    a.login {}
    .top-table-imgs {
        margin-bottom: 2em;
        margin-top: 2em;
        margin-left: -2em;
    }
        .top-table-imgs img {
            border-radius: 100%;
            height: 150px;
            width: 150px;
        }
    .FLeft img, .FLeft p {
        float: left;
    }
    .top-table-imgs p {
        margin-top: 4.75em;
        margin-left: 3em;
        font-size: 1.45em;
        width: 8em;
        z-index: 100000;
        position: absolute;
        background: #fa323c;
        color: #fff;
        text-align: center;
    }
    .col-sm-4.second-child {
        margin-left: -5em;
    }
    .col-sm-4.final-child {
        margin-left: -3.5em;
    }
}



/* Media Queries for Navbar */

@media (max-width: 600px) {
    a.nav-link {
        padding: 1em 0em 1em 0em;
        border-bottom: 1px solid #d2d2d2;
    }
    ul.navbar-nav.login-nav {
        margin: 2em 1em 1em 0em;
    }
    .top-table-imgs {
        display: none;
    }
}

/* AND Button */

.AND-btn-create {
    background: #bbbbbb !important;
    font-size: 1em;
    margin-left: 0em;
    line-height: 1em;
}

a.AND-btn-create:hover {
        background: #989898 !important;
}

a.AND-button {
    background: #ff323b;
    color: #fff;
}

.details-btn-group a.AND-button {
    width: 6.1em;
    margin-top: 0.4em;
}

a.AND-button:hover {
    background: #d00f18;
    color: #fff;
    text-decoration: none;
}

/**/
.table thead th {
    background: #f3f3f3;
}

.table th, .table td {
    vertical-align: unset;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;

    padding: 1em 1em;
}
/*Table boiii*/

.table th, .table td {
    vertical-align: unset;
    max-width: 150px;
}

/* Edit Form */

#editForm input[type="text"] {
    background: #f2f2f2;
    padding: 1em 1em;
    border: 1px solid #f3f3f3;
    width: 32em;
}

.EditIdeaFormTitle p {
    font-size: 12px;
    margin-bottom: 0px;
    color: darkgray !important;
    padding: 0em 0em 0em 0em;
    margin-top: 1em;
    font-weight: 700;
}

#editForm #id {
    display: none;
}

#editForm input.btn.btn-light {
    margin-top: 2em;
    width: 32em;
    padding: 1em;
}