/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*Fonts**/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/*End of fonts*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

p, h1, h2, h3, h4 {
   font-family: 'Poppins', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #323232;
  line-height: 90px; /* Vertically center the text there */
}

.footer p {
    color: #fff;
    text-align: center;
}
 
/* Navbar Styling
-------------------------------------------------- */

.navbar-nav li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.navbar {
    padding: 1em;
}

.navbar-brand img {
    height: 2.5em;
}

a.login {
    background: #fe323d;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    color: #fff;
}

a.login:hover {
    background: #d00f18;
   text-decoration: none;
}

img.big-image-logo {
    height: 9em;
}

.hero-image {
    text-align: center;
    padding: 8em 0em 6em 0em;
    background-attachment: fixed;
}

#image {
    background-size: cover;
    margin-bottom: 1em;
}

#image h1 {
    font-size: 42px;
    padding-top: 0.5em;
    color: #fff;
}

@media (min-width: 768px){
    .navbar-brand img {
        margin-right: -13em;
    }
    a.login {}
    .top-table-imgs {
        margin-bottom: 1em;
        margin-top: 2em;
    }
        .top-table-imgs img {
            border-radius: 100%;
            height: 125px;
            width: 125px;
        }
    .FLeft img, .FLeft p {
        float: left;
    }
    .top-table-imgs p {
        margin-top: 2em;
        margin-left: 6em;
        font-size: 1.5em;
        width: 200px;
    }
}



/* Media Queries for Navbar */

@media (max-width: 600px) {
    a.nav-link {
        padding: 1em 0em 1em 0em;
        border-bottom: 1px solid #d2d2d2;
    }
    ul.navbar-nav.login-nav {
        margin: 2em 1em 1em 0em;
    }
    .top-table-imgs {
        display: none;
    }
}

/* AND Button */

a.AND-button {
    padding: 0.5em;
    background: #ff323b;
    border-radius: 0.75em;
    color: #fff;
}

a.AND-button:hover {
    background: #d00f18;
    text-decoration: none;
}

/**/
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 2em 1em 2em 1em;
    background: #f3f3f3;
}